*{
    margin: 0 auto;
    padding: 0 auto;
}
main{
    width: 100%;
}

.container{
    background-color: #dddddd;
    width: 100%;
    display: flex;

}
.containerEvo{
    width: 100%;
    display: flex;

}
.item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.item img{
    width: 200px;
    height: 200px;
}
iframe{
    display: none;
}
@media screen and (max-width: 480px){
    .container{
        display: flex;
        flex-direction: column;
    }
  
  }
  @media screen and (max-width: 840px){
    .containerEvo{
        display: flex;
        flex-direction: column;
    }
  
  }